<div class="navbar">
    <div class="navbar-inner">
        <div class="container nav-collapse">
            <ul class="nav">
                <li class="active">
                    <a href="#">
                        <h3>رياست</h3>
                        <span>حوزه رياست دانشگاه.</span>
                    </a>
                </li>
                <li class="divider-vertical"></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <h3>معاونت ها</h3>
                        <b class="caret"></b>
                        <span>معاونت هاي دانشگاه.</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><h4>معاونت پژوهشي</h4></a></li>
                        <div class="sub">
                            <li><a href="#">دفتر امور پژوهشي</a></li>
                            <li><a href="#">دفتر طرح و برنامه و بودجه</a></li>
                            <li><a href="#">دفتر ارتباط با صنعت</a></li>
                            <li><a href="#">مركز اطلاعات، آمار و رايانه</a></li>
                            <li><a href="#">انجمن هاي علمي و پژوهشي</a></li>
                            <li><a href="#">تحصيلات تكميلي</a></li>
                            <li><a href="#">باشگاه پژوهشگران جوان</a></li>
                        </div>
                        <li><a href="#"><h4>معاونت آموزشي</h4></a></li>
                        <li><a href="#"><h4>معاونت اداري مالي</h4></a></li>
                        <div class="sub">
                            <li><a href="#">صندوق رفاه</a></li>
                        </div>
                        <li><a href="#"><h4>معاونت دانشجويي</h4></a></li>
                        <li><a href="#"><h4>معاونت سما</h4></a></li>                        
                    </ul>
                </li>
                <li class="divider-vertical"></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <h3>درباره دانشگاه</h3>
                        <b class="caret"></b>
                        <span>بيشتر بدانيد.</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">
                                <h4>معرفي دانشگاه</h4>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h4>مسئولين دانشگاه</h4>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <h4>تقويم آموزشي</h4>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="divider-vertical"></li>
                <li>
                    <a href="#">
                        <h3>درباره قوچان</h3>
                        <span>معرفي شهرستان قوچان.</span>
                    </a>
                </li>
                <li class="divider-vertical"></li>
                <li>
                    <a href="#">
                        <h3>دريافت فايل</h3>
                    </a>
                </li>
                <li class="divider-vertical"></li>
                <li>
                    <a href="#">
                        <h3>درباره ما</h3>
                    </a>
                </li>
            </ul>
        </div>
        <form class="navbar-search" action="">
            <input type="text" class="search-query span2" placeholder="جستجو...">
        </form>
        <div class="clearfix"></div>
    </div>
</div>