@using Iauq.Web.Mvc.UI
@model Iauq.Core.Domain.Role

@{
    ViewBag.Title = "پنل مدیریت - نقش‌ها - ثبت نقش جدید";
    PagePartManager.Current.AddBreadcrumb(Html.ActionLink("پنل مدیریت", "Default", "Administration"));
    PagePartManager.Current.AddBreadcrumb(Html.ActionLink("نقش‌ها", "List", "Roles",new{page=1},null));
    PagePartManager.Current.AddBreadcrumb(Html.ActionLink("ثبت نقش جدید", "Create", "Roles"));
}

<div class="rounded-box newest row-fluid">
    <div class="inside">
        <h1>@ViewBag.Title
        </h1>
        <hr />
        @using (Html.BeginForm("Create", "Roles", FormMethod.Post, new {@class = "form-horizontal"}))
        {
            @Html.ValidationSummary(true)
            <fieldset>
                @{ Html.RenderPartial("_NewOrUpdate", Model); }
                <div class="form-actions">
                    <button type="submit" class="btn btn-success">ثبت</button>
                    @Html.ActionLink("برگشت", "List", new{page=1}, new {@class = "btn"})
                </div>
            </fieldset>
        }
    </div>
</div>