<root>
    <FileGroup Name="cdn/scripts/camera.min.js"> 
        <File Path="cdn/scripts/camera.js" Minify="true" />
    </FileGroup>
    <FileGroup Name="cdn/scripts/iauq.contentSlider.min.js"> 
        <File Path="cdn/scripts/iauq.contentSlider.js" Minify="true" />
    </FileGroup>
    <FileGroup Name="cdn/scripts/core.min.js"> 
        <File Path="cdn/scripts/core.js" Minify="true" />
    </FileGroup>
</root>