<div class="modal hide fade" id="delete-modal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>تائید حذف رکورد...</h3>
    </div>
    <div class="modal-body">
        <p>امکان بازیابی رکوردهای حذف شده وجود ندارد. آیا واقعا با حذف این رکورد موافقید؟</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-success" data-dismiss="modal">انصراف</a>
        <a data-delete="true" class="btn btn-danger">بله، حذف کن</a>
    </div>
</div>