@using Iauq.Core.Domain;
@model IList<Content>
<div class="rounded-box AdvertisementLink row-fluid span7 no-right-margin pull-right">
    <div class="inside">
        <h1>
            لینک ها ی تصویری
        </h1>
        <hr />
        <a href="#" class="btn btn-success"><i class="icon-shopping-cart icon-white"></i>پرتال دانشجویان</a>
        <div data-dummy="true" class="clearfix">
        </div>
    </div>
</div>
