@using Iauq.Core.Domain
@model IList<Iauq.Core.Domain.Content>
<div class="well inline-well links hidden-small-phone">
    <ul class="nav nav-list" id="external-links">
        @{
            int mid = Model.Count/3;
        }
        @for (int i = 0; i < Model.Count; i++)
        {
            if (i == 0 || i%mid == 0)
            {
                @Html.Raw("<div class=\"section span4\">")
            }
            Content c = Model[i];
            <li@*@(i >= 10 ? Html.Raw(" class='hide'") : null)*@>
                <a href="@c.Body.Trim()" target="_blank">@c.Title</a>
            </li>
            if (i > 1 && ((i + 1)%mid == 0 || i == Model.Count - 1))
            {
                @Html.Raw("</div>")
            }
        }
        <div class="clearfix"></div>
    </ul>
    @*<a class="more" clip-id="external-links" trap="true"><i class="icon-circle-arrow-down"></i></a>*@
</div>