@model IList<Iauq.Core.Domain.Content>
<div class="well inline-well visual-links">
    @*<h4 class="nav-title">
        <i class="icon-globe"></i>لینک‌های مهم  
    </h4>
    <div class="clearfix"></div>*@
    <ul class="nav nav-list">
        <div class="section span4">
            <li>
                <a class="btn btn-info align-right" href="http://www.iauquchan.com/login.aspx" target="_black">
                    <i class="icon-lock icon-white"></i>پرتال دانشجويان
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a class="btn btn-info align-right" href="http://www.iauq.ac.ir:8000/" target="_black">
                    <i class="icon-edit icon-white"></i>انتخاب واحد
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a class="btn btn-info align-right" href="http://ea.iauq.ac.ir/Modules/ProfessorPortal.aspx" target="_black">
                    <i class="icon-leaf icon-white"></i>پرتال اساتيد
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a class="btn btn-info align-right" href="http://ea.iauq.ac.ir/Modules/E_employeePortal.aspx" target="_black">
                    <i class="icon-user icon-white"></i>پرتال کارکنان
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a class="btn btn-info align-right" href="http://mail.iauq.ac.ir/" target="_black">
                    <i class="icon-inbox icon-white"></i>ایمیل دانشگاه
                </a>
            </li>
        </div>
        <div class="section span4">  
            <li>
                <a class="btn btn-info align-right" href="http://ea.iauq.ac.ir/" target="_black">
                    <i class="icon-book icon-white"></i>زیر دامنه آموزشی
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a class="btn btn-info align-right" href="http://research.iauq.ac.ir/" target="_black">
                    <i class="icon-search icon-white"></i>زیر دامنه پژوهشی
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a class="btn btn-info align-right" href="http://srd.iauq.ac.ir/" target="_black">
                    <i class="icon-barcode icon-white"></i>صندوق رفاه دانشجویان
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a class="btn btn-info align-right" href="http://payment.iauq.ac.ir/" target="_black">
                    <i class="icon-barcode icon-white"></i>شهریه
                </a>
            </li>
        </div>
    </ul>
</div>