@using Iauq.Information.Helpers
@using Iauq.Web.Mvc.UI
@using MvcContrib.Pagination
@model  MvcContrib.Pagination.IPagination<Iauq.Core.Domain.Content>
@{
    Layout = "~/Views/Shared/_LayoutWithSideBar.cshtml";
    ViewBag.Title = "خانه - آرشیو رخدادها";
    ViewBag.Keywords = "آرشیو، رخداد، رخدادها، آخرین رخدادها، اخرین رخدادها، رخدادهای دانشگاه";
    ViewBag.Description = "آرشیو رخدادهای دانشگاه آزاد اسلامی، واحد قوچان";
    PagePartManager.Current.AddBreadcrumb(Html.ActionLink("خانه", "Default", "Home"));
    PagePartManager.Current.AddBreadcrumb(Html.ActionLink("آرشیو رخدادها", "Archive", "Events", new { page = 1 }, null));
}
<div class="rounded-box newest">
    <div class="inside text">
    <h1>@ViewBag.Title
        </h1>
        <hr>
        @{ Html.RenderPartial("_Event", Model); }
        @Html.RenderPager(Model as IPagination, page => Url.Action("Archive", new { page }))
    </div>
</div>